@use "sass:map";
@use "sass:math";
@use "_config.scss" as *;
@use "plugin/bootstrap/bootstrap.scss" with (
  $container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
  )
);
@use "plugin/_tmdrPreset.scss" with (
  $spacingIncrement: 15
);

// |‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾| //
// | Timedoor New Standard                   | //
// |_________________________________________| //

.ratio-item {
  @extend %ratioItem;
}

.offcanvas {
  background: rgb(69 39 164);
}

.navbar {
  transition: all ease-in-out 0.4s;
  padding: 40px 0;

  @media screen and (max-width: 475px) {
    padding: 24px 0;
  }
}

.nav-scrolled {
  background: #4527a4a1;
  backdrop-filter: blur(12px);
  padding: 8px 0;
}

.nav-custom {
  padding: 0 100px;

  @media screen and (max-width: 475px) {
    padding: 0 16px;
  }
}

.navbar-nav {
  .nav-item {
    .nav-link {
      padding: 20px;
      color: white;
      font-weight: 500;
      font-size: 12px;
      cursor: pointer;
      transition: all ease-in-out 0.2s;
    }

    .active {
      color: color(text, primary);
    }
    .disabled {
      opacity: 0.5;
      text-decoration: none;
      color: white;
    }
    &:hover {
      .nav-link {
        color: color(text, primary);
        text-decoration: underline;
      }

      .disabled {
        opacity: 0.5;
        text-decoration: none;
        color: white;
      }
    }
  }

  @media screen and (max-width: 992px) {
    & {
      margin-top: 12px;
    }
  }

  @media screen and (max-width: 576px) {
    & {
      gap: 4px;
    }
  }
}

.hero {
  display: flex;
  position: relative;

  height: 120vh;
  padding-top: 10px;

  background: no-repeat;
  background-image: url("/assets/img/banner-1.png");
  background-position: -2px -42px;
  background-size: cover;
  &__content {
    display: flex;
    padding-top: 200px;
    padding-left: 32px;
    color: white;
    &-left {
      padding-left: 128px;
      padding-bottom: 48px;
      line-height: 1.5;
      .content-title {
        display: block;
        margin-bottom: 32px;
        font-size: 38px;
        font-weight: 600;
        line-height: 1.5;
      }
      .content-desc {
        display: block;
        margin-bottom: 32px;
        font-size: 14px;
        font-weight: 400;
        line-height: 2.2;
      }
      .content-button {
        display: flex;

        width: max-content;

        padding: 8px 25px;

        color: white;
        font-size: 16px;
        font-weight: 500;

        text-decoration: none;
        border: 1px solid white;
        border-radius: 25px;

        transition: all ease-in-out 0.3s;
      }
      a:hover {
        color: color(text, secondary);
        background-color: white;
      }

      @media screen and (max-width: 1080px) {
        .content-title {
          line-height: 1.2;
        }
        .content-desc {
          line-height: 1.5;
        }
      }

      @media screen and (max-width: 992px) {
        padding-left: 24px;
        // padding-bottom: 0;
        .content-title {
          font-size: 32px;
        }
        .content-desc {
          font-size: 12px;
        }
        .content-button {
          font-size: 14px;
        }
      }

      @media screen and (max-width: 576px) {
        .content-title {
          font-size: 24px;
          margin-bottom: 16px;
        }
        .content-desc {
          font-size: 10px;
          margin-bottom: 16px;
        }
        .content-button {
          font-size: 12px;
        }
      }

      @media screen and (max-width: 475px) {
        padding: 25px 48px;
        .content-title {
          font-size: 28px;
        }
        .content-desc {
          font-size: 12px;
        }
        .content-button {
          font-size: 14px;
        }
      }
    }

    &-right {
      position: relative;
      .content__pict-1 {
        width: 400px;

        @media screen and (max-width: 1420px) {
          width: 300px;
        }

        @media screen and (max-width: 1100px) {
          width: 250px;
        }

        @media screen and (max-width: 992px) {
          width: 300px;
        }
        @media screen and (max-width: 768px) {
          width: 250px;
        }

        @media screen and (max-width: 576px) {
          width: 170px;
        }

        @media screen and (max-width: 475px) {
          width: 170px;
        }
      }

      .content__pict-2 {
        position: absolute;
        right: -300px;
        z-index: 1;

        width: 400px;

        @media screen and (max-width: 1420px) {
          width: 300px;
          right: -230px;
        }
        @media screen and (max-width: 1100px) {
          width: 250px;
          right: -190px;
        }

        @media screen and (max-width: 992px) {
          width: 300px;
          right: -40px;
        }

        @media screen and (max-width: 768px) {
          width: 250px;
          right: 0px;
        }

        @media screen and (max-width: 576px) {
          width: 170px;
          right: 40px;
        }

        @media screen and (max-width: 475px) {
          width: 170px;
          right: 0;
        }
      }

      @media screen and (max-width: 576px) {
        padding: 10px 5%;
      }
    }

    @media screen and (max-width: 992px) {
      display: block;
      padding: 128px 110px;
    }

    @media screen and (max-width: 768px) {
      padding: 160px 50px;
    }

    @media screen and (max-width: 475px) {
      padding: 120px 20px;
    }
  }

  @media screen and (max-width: 768px) {
    background-position: -120px -42px;
  }

  @media screen and (max-width: 475px) {
    background-position: -120px -100px;
  }
}

.feature {
  display: flex;
  flex-direction: row;
  gap: 72px;
  height: 100vh;
  margin-top: 100px;
  padding: 32px 20%;

  &__left {
    height: 100%;

    .left__pict {
      height: 80%;
    }
  }

  &__right {
    &__desc {
      margin-top: 32px;

      color: grey;
      font-size: 12px;
    }
  }
}

.card {
  width: 250px;
  height: 250px;
  margin: 8px;
  padding: 0;

  border: 0;

  background-image: url("/assets/img/case-1.png");
  background-position: center;
  background-size: cover;

  overflow: hidden;

  &:hover &__content {
    color: white;
    background-color: rgb(69, 39, 164, 0.5);
  }

  &__content {
    width: 100%;
    height: 100%;
    background-color: white;
    position: relative;
    z-index: 1;
    transition: all ease-in-out 0.3s;

    &__desc {
      font-size: 12px;
    }
  }
}
