@use "sass:map";
@use "sass:math";

$color: (
  text: (
    primary: #ffb700,
    secondary: #4527a4,
  ),
  background: (
    primary: #231b40,
  ),
  red: (
    default: red,
  ),
  green: (
    default: green,
  ),
  blue: (
    default: blue,
  ),
);

$fontSizes: (
  headline: (
    xl: (
      default: (
        font-size: 80px,
        line-height: 2,
      ),
      991: (
        font-size: 56px,
        line-height: 1.3,
      ),
      320: (
        font-size: convertToRem(48),
      ),
    ),
    l: (
      default: (
        font-size: 48,
        line-height: 60,
      ),
    ),
  ),
);

$primary: map.get($color, red, default);

$spacingIncrement: 10;
